


body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}


/* ... (Previous styles remain unchanged) */

.search-container {
  background-color: #24292e; /* GitHub's dark mode background color */
  padding: 20px;
  text-align: center;
}

#form {
  max-width: 400px; /* Reduced the maximum width of the search form */
  margin: 0 auto; /* Center the form horizontally */
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #ffffff; /* White background for the search input */
  color: #24292e; /* GitHub's dark mode text color */
}

.form-control::placeholder {
  color: #586069; /* GitHub secondary text color */
}

.form-control:focus {
  outline: none;
  background-color: #f6f8fa; /* Light background when input is focused */
}


.card-container {
  display: flex;
  justify-content: center;
}

#card {
  background-color: #ffffff;
  border: 1px solid #e1e4e8;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  max-width: 600px;
  width: 100%;
}

#card:hover {
  transform: scale(1.05);
}

.card-horizontal {
  display: flex;
  align-items: center;
  padding: 20px;
}

.card-img-top {
  width: 200px;
  height: 200px;
  
  margin-right: 20px;
  object-fit: cover;
}

.card-body {
  flex-grow: 1;
}

.card-title {
  margin: 0;
  font-size: 1.5rem;
  color: #0366d6; /* GitHub link color */
}

.card-text {
  color: #586069; /* GitHub secondary text color */
}

.list-group-horizontal {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-group-item {
  flex-grow: 1;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #e1e4e8;
}

.list-group-item:last-child {
  border-bottom: none;
}

.horizontal-repos {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}

.repo {
  display: inline-block;
  padding: 8px 12px;
  margin-right: 10px;
  margin-bottom: 10px;
  color: #fff;
  background-color: #0366d6; /* GitHub link color */
  border: 1px solid #0366d6;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.repo:hover {
  background-color: #034ea2;
}
